*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #292929;
    /* 완전black 쓰지 않기! */
}
ul,li{
    list-style: none;
}
img{
    border: 0;
    display: block;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
}
/* 웹폰트 연결한다고 해본거예용~ */
/* header a{
    font-family: 'Do Hyeon', sans-serif;
} */

/* 폰트 기본크기 17px */