*{
    margin: 0; 
    padding: 0;
}
a{
    text-decoration: none; 
    color: #292929;
}
ul,li{
    list-style: none;
}
img{
    display: block;
    border: 0;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
}
/* header a{
    font-family: 'Do Hyeon', sans-serif;
} */