@media all and (min-width: 1200px){
    
/* 공통영역 */

#wrap{
    width: 100%;
    overflow: hidden;
}

body{
    color: #494949;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 0.7px;
}

header, section, footer{
    width: 100%;
    position: relative;
}

.container{
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.title{
    width: 100%;
    height: 50px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

/* 공통영역 end */

/* ㅡㅡㅡㅡㅡㅡheader startㅡㅡㅡㅡㅡㅡ*/
header{
    height: 300px;
    background-image: url(../img/header_02.jpg);
    background-color: rgba(0, 0, 0, 0.2);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50,50;
    z-index: 99;
    margin-bottom: 60px;
}

#up_menu{
    width: 100%;
    height: 30px;
    float: left;
    margin-top: 20px;
    line-height: 30px;
}

#up_menu ul{
    width: 250px;
    float: right;
    display: flex;
    justify-content: space-between;
}

#up_menu a{
    float: left;
    color: #fff;
    font-size: 14px;
}

#ham_btn{
    width: 35px;
    height: auto;
    float: right;
    position: absolute;
    top: 70px;
    right: 0;
}

#ham_btn>img{
    width: 100%;
    height: auto;
}

#ham_btn>img:last-child{
    display: none;
}

#menu_wrap{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 20px;
}

#logo{
    width: 170px;
    height: 170px;
    float: left;
}

#logo>img{
    width: 100%;
    height: 100%;
}

#logo img:last-child{
    display: none;
}

#search{
    display: none;
}

#menu_txt{
    width: 50%;
    height: auto;
    float: right;
    line-height: 45px;
    margin-top: 90px;
    font-size: 35px;
    font-weight: 400;
    text-align: right;
    color: #fff;
    letter-spacing: 2px;
}

/* ㅡㅡㅡㅡㅡㅡhidden_menuㅡㅡㅡㅡㅡ */
#hidden_menu_wrap{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    display: none;
}

#hidden_menu_box{
    width: 40%;
    height: 100%;
    background-color: #fff;
    position: relative;
    float: right;
}

#hidden_menu_top{
    width: 250px;
    height: auto;
    float: right;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 50px;
    position: relative;
}

#hidden_menu_top>li{
    float: left;
}

#hidden_menu_bottom{
    width: 100%;
    height: auto;
    margin-top: 80px;
    margin-bottom: 20px;
}

#hidden_logo{
    width: 150px;
    height: auto;
    margin-left: 50px;
    margin-bottom: 50px;
}

#hidden_logo img{
    width: 100%;
    height: auto;
}

#hidden_menu_btn img:last-child{
    display: none;
}

#hidden_menu_btn img{
    width: 35px;
    height: auto;
    position: absolute;
    top: 80px;
    right: 50px;
}

#hidden_menu{
    width: 100%;
    height: auto;
    margin-left: 50px;
}

#hidden_search input{
    width: 40%;
    height: 30px;
    outline: none;
    border: 0;
    border-bottom: 1px solid #797979;
    margin-bottom: 40px;
    position: relative;
}

#hidden_search_img{
    width: 28px;
    height: auto;
    position: absolute;
    top: 155px;
    right: 50%;
}

#hidden_search_img img{
    width: 100%;
    height: auto;
}

#hidden_menu>li{
    width: 100%;
    height: auto;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 35px;
}

.hidden_sub_menu{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    display: none;
}

.hidden_sub_menu li{
    width: 100%;
    height: 25px;
    color: #b3b3b3;
    position: relative;
}

#hidden_menu_under{
    width: 100%;
    height: auto;
    color: #595959;
    margin-left: 50px;
}

#hidden_menu_under>li{
    width: 100%;
    height: auto;
    font-weight: 500;
    margin-bottom: 20px;
}

#brand li{
    margin-top: 5px;
    color: #b3b3b3;
}
#hidden_bar{
    width: 100%;
    height: 50px;
    background-color: lightgrey;
    padding-left: 50px;
    box-sizing: border-box;
    position: absolute;
    bottom: 20px;
    left: 0;
}

#hidden_bar div{
    width: auto;
    height: auto;
    float: left;
    line-height: 50px;
}

#hidden_bar div::after{
    content: '|';
    margin-left: 15px;
    margin-right: 15px;
}

#hidden_bar div:last-child::after{
    display: none;
}

.hidden_sub_menu.hidden_sub_on{
    display: block;
    position: relative;
}


/* ㅡㅡㅡㅡㅡㅡsection1 startㅡㅡㅡㅡㅡㅡ */
#section1{
    overflow: hidden;
    margin-bottom: 60px;
}

#section1 img{
    border-radius: 10px;
}

.sec1_wrap{
    width: 585px;
    overflow: hidden;
    float: left;
    position: relative;
}

/* section1 left */
#left_wrap{
    margin-right: 30px;
    position: relative;
}

#left1_wrap{
    width: 100%;
    height: 585px;
    position: relative;
    margin-bottom: 30px;
}

#left1_img{
    width: 100%;
    height: 585px;
}

#left1_img>img{
    width: 100%;
    height: 100%;
}

#left2_wrap{
    width: 500px;
    height: 500px;
    float: right;
    position: relative;
}

#left2_img{
    width: 500px;
    height: 100%;
    float: right;
}

#left2_img>img{
    width: 100%;
}

/* section1 right */
#sec1_right_txt{
    width: 100%;
    height: auto;
    color: #494949;
    margin-bottom: 20px;
    line-height: 20px;
}

#right1_wrap{
    width: 100%;
    height: 585px;
    margin-bottom: 30px;
    position: relative;
}

#right1_img{
    width: 100%;
    height: 100%;
}

#right1_img>img{
    width: 100%;
    height: 100%;
}

#right2_wrap{
    width: 100%;
    height: 585px;
    position: relative;
}

#right2_img{
    width: 485px;
    height: 585px;
}

#right2_img>img{
    width: 100%;
    height: 100%;
}

#right2_img>img:last-child{
    display: none;
}

.sec1_txt{
    width: 100%;
    height: 140px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    bottom: 0;
}

.sec1_txt_box{
    width: 100%;
    height: auto;
    margin-top: 26px;
    margin-left: 30px;
}

.sec1_txt h1{
    margin-bottom: 5px;
    font-weight: 700;
}

.sec1_txt_box p{
    font-size: 14px;
    line-height: 22px;
}

#sec1_txt_box3{
    float: right;
}

#view_more{
    width: 150px;
    height: 35px;
    border: 1px solid #797979;
    border-radius: 30px;
    color: #797979;
    text-align: center;
    line-height: 34px;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 40px;
    position: relative;
    cursor: pointer;
}

/* section1 hover */
#left1_wrap:hover #sec1_txt1{
    background-color: rgba(255, 255, 255, 0.6);
    color: #494949;
}

#left2_wrap:hover #sec1_txt2{
    background-color: rgba(255, 255, 255, 0.6);
    color: #494949;
}

#right1_wrap:hover #sec1_txt3{
    background-color: rgba(255, 255, 255, 0.6);
    color: #494949;
}

#right2_wrap:hover #sec1_txt4{
    background-color: rgba(255, 255, 255, 0.6);
    color: #494949;
}

#view_more:hover{
    background-color: lightgray;
}

/* ㅡㅡㅡㅡㅡㅡsection2ㅡㅡㅡㅡㅡㅡ */
#tab_section2{
    display: none;
}

#section2 img{
    border-radius: 10px;
}

#sec2_box{
    width: 100%;
    overflow: hidden;
    margin-bottom: 60px;
}

.sec2_inbox{
    width: 380px;
    height: 500px;
    float: left;
    margin-right: 30px;
    position: relative;
}

#sec2_inbox3, #sec2_inbox6{
    margin-right: 0;
}

#sec2_inbox1, #sec2_inbox2, #sec2_inbox2{
    margin-bottom: 30px;
}

.sec2_img{
    width: 380px;
    height: 500px;
    position: relative;
}

.sec2_img img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.sec2_txt_inbox{
    width: 100%;
    height: 120px;
    position: absolute;
    bottom: 0;
    margin-left: 30px;
}

/* section2_hover font color */
.sec2_txt_inbox:hover{
    color: #fff;
}

.sec2_txt_inbox>p{
    font-weight: 700;
    margin-bottom: 5px;
}

.name{
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 2px;

}

.price{
    width: 100%;
    height: auto;
    float: left;
}

/*  section2 hover시 이미지 변경*/
.sec2_inbox img:last-child{
    opacity: 0;
    transition-duration: 0.3s;
}

.sec2_inbox:hover .sec2_img img:first-child{
    opacity: 0;
    transition-duration: 0.3s;
}

.sec2_inbox:hover .sec2_img img:last-child{
    opacity: 1;
    transition-duration: 0.3s;
}

/* ㅡㅡㅡㅡㅡㅡㅡsection3ㅡㅡㅡㅡㅡㅡㅡ */
#section3{
    height: 400px;
    background-image: url(../img/sec3_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 60px;
}

.sec3_txt{
    width: 100%;
    height: auto;
    position: relative;
    top: 150px;
    text-align: center;
    color: #fff;
    opacity: 0.7;
}

#sec3_txt1{
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

#sec3_txt2{
    font-size: 18px;
    font-weight: 300;
}

/* ㅡㅡㅡㅡㅡㅡㅡsection4ㅡㅡㅡㅡㅡㅡㅡ */
#section4{
    overflow: hidden;
    margin-bottom: 60px;
}

#sec4_txt_wrap{
    width: 100%;
    height: 30px;

    margin-bottom: 20px;
}

#sec4_txt_wrap li{
    font-size: 20px;
    float: left;
    margin-right: 30px;
}

#sec4_box{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
}

#img_wrap{
    width: 2826px;
    overflow: hidden;
    position: relative;
}

.sec4_img{
    width: 471px;
    height: 668px;
    float: left;
}

.sec4_img img{
    width: 100%;
    height: 100%;
}

.sec4_btn{
    width: 20%;
    height: 668px;
    background-color: rgba(0, 0, 0, 0.5);
    color: grey;
    font-size: 40px;
    text-align: center;
    z-index: 99;
    position: absolute;
    top: 0;
}

.sec4_btn p{
    width: auto;
    height: auto;
    position: relative;
    top: 50%;
    margin-top: -15px;
}

#left_btn{
    left: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#right_btn{
    right: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* ㅡㅡㅡㅡㅡㅡㅡ section5 start ㅡㅡㅡㅡㅡㅡㅡ */
#m_section5{
    display: none;
}

#section5{
    overflow: hidden;
    margin-bottom: 100px;
}

#section5 img{
    border-radius: 10px;
}

#sec5_point{
    width: 100%;
    height: auto;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 99;
}

#sec5_wrap{
    width: 100%;
    height: 100%;
    position: relative;
    margin-left: 15px;
}

#sec5_point>img{
    width: 40px;
    height: auto;
    float: left;
}

#sec5_point>img:nth-child(2){
    float: right;
}

.sec5_box{
    width: 25%;
    float: left;
    padding-right: 30px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.sec5_box:last-child{
    padding-right: 0;
}

.sec5_img, .sec5_img2, .sec5_img3, .sec5_img4{
    width: 270px;
    height: 357px;
    position: relative;
    overflow: hidden;
}

.sec5_img_box,.sec5_img_box2, .sec5_img_box3, .sec5_img_box4 {
    width : 540px;
    height: 357px;
    position: absolute;
    top: 0;
    left: 0;
}

.sec5_img img{
    width: 50%;
    height: 100%;
    float: left;
}

.txt_box{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.review_txt{
    display: block;
    width: 100%;
    height: auto;
    margin-top: 25px;
    margin-bottom: 3px;
    text-align: center;
}

.star{
    font-size: 20px;
    color: rgb(90, 90, 179);
    float: left;
    margin-left: 70px;
    margin-right: 3px;
}

.count{
    float: left;
    margin-top: 3px;
}

/* ㅡㅡㅡㅡㅡㅡfooterㅡㅡㅡㅡㅡㅡ */
footer{
    overflow: hidden;
    background-color: #494949;
    color: #9b9b9b;
    font-size: 13px;
}

#footer_txt>p{
    font-size: 15px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}

#footer_txt>span{
    display: block;
    font-size: 13px;
    padding-bottom: 50px;
    line-height: 20px;
}

#footer_right{
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
}

#footer_right>li{
    width: auto;
    height: auto;
    float: left;
    margin-top: 30px;
}


#footer_right li::after{
    content: '|';
    margin: 0 10px;
}

#footer_right li:last-child::after{
    display: none;
}

#family select{
    display: block;
    width: 150px;
    height: auto;
    outline: none;
    border: 2px solid #595959;
    background: none;
    color: #9b9b9b;
    position: absolute;
    bottom: 40px;
    right: 0;
}





}
/* end */