@media all and (max-width: 759px) {
  /* 공통영역 */
  body {
    color: #494949;
    font-family: "Noto Sans KR", sans-serif;
    /* overflow: hidden; */
  }

  #wrap {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  section {
    width: 100%;
    height: 700px;
    position: relative;
  }

  header,
  footer {
    width: 100%;
    position: relative;
  }

  .in_header,
  .in_footer {
    width: 95%;
    /* width: 75%; */
    height: auto;
    /* background-color: antiquewhite; */
    margin: 0 auto;
  }

  .container,
  .container_w {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
  }

  /* 공통영역 end */

  .top {
    display: none;
  }

  /* header start */
  header {
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
  }

  .top_header_wrap {
    display: none;
  }

  .in_header {
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .logo {
    width: 250px;
    height: auto;
  }

  .logo img {
    width: 100%;
    height: auto;
  }

  .menu_wrap {
    display: none;
  }

  .ham_btn {
    width: 30px;
    height: 30px;
    position: relative;
    top: 5px;
  }

  .ham_btn span {
    width: 100%;
    height: 2px;
    background-color: #dd152b;
    position: absolute;
    top: 0;
    left: 0;
    transition-duration: 0.3s;
  }

  .ham_btn span:first-child {
    width: 70%;
    top: 0;
  }

  .ham_btn span:nth-child(2),
  .ham_btn span:nth-child(3) {
    top: 10px;
  }

  .ham_btn span:last-child {
    width: 85%;
    top: 20px;
  }

  .ham_btn.active span:first-child,
  .ham_btn.active span:last-child {
    opacity: 0;
  }

  .ham_btn.active span:nth-child(2) {
    transform: rotate(45deg);
  }

  .ham_btn.active span:nth-child(3) {
    transform: rotate(-45deg);
  }

  /* section1 start */
  .sec1_wrap {
    width: 100%;
    height: auto;
    /* background-color: thistle; */
  }

  .sec1_img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }

  .sec1_img1 {
    width: 100%;
    height: 100%;
    background-image: url(../img/mo_banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
  }

  .sec1_img2 {
    width: 100%;
    height: 100%;
    background-image: url(../img/mo_banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* display: none; */
  }

  .sec1_img3 {
    width: 100%;
    height: 100%;
    background-image: url(../img/mo_banner3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* display: none; */
  }

  .click_btn_wrap {
    width: 180px;
    height: 5px;
    /* background-color: thistle; */
    position: absolute;
    bottom: 100px;
    left: 50%;
    margin-left: -75px;
    display: flex;
    justify-content: space-between;
  }

  .click_btn {
    width: 50px;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
    /* border-radius: 50%; */
  }

  .on {
    background-color: #fff;
    opacity: 0.8;
  }

  .sec1_img img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }

  /* section2 start */
  #section2 > .container {
    /* background-color: thistle; */
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 80px;
  }

  #section2 {
    height: auto;
    /* overflow: hidden; */
    /* background-color: #595959; */
  }

  .sec2_back {
    width: auto;
    height: auto;
    /* background-color: tomato; */
    font-size: 250px;
    /* font-size: 450px; */
    position: absolute;
    right: 50px;
    /* right: 100px; */
    font-family: "Caveat", cursive;
    font-weight: 400;
    opacity: 0.05;
    letter-spacing: -30px;
    display: none;
  }

  .sec2_img_box {
    width: 60%;
    /* width: 680px; */
    height: 0;
    padding-bottom: 75%;
    /* background-color: lightgoldenrodyellow; */
    position: relative;
    top: 0;
    left: 0;
    /* margin-top: 250px; */
    margin-left: 30px;
    margin-top: 50px;
    opacity: 0.4;
  }

  .sec2_img_back {
    display: none;
  }

  .sec2_img {
    width: 100%;
    height: 0;
    padding-bottom: 124.55%;
    background-color: thistle;
    /* height: 766px; */
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .sec2_img img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .sec2_txt {
    width: 60%;
    /* width: 41.666%; */
    /* width: 500px; */
    height: auto;
    /* background-color: thistle; */
    position: absolute;
    /* bottom: 100px; */
    right: 5%;
    /* right: 30px; */
    margin-top: 60px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .sec2_txt1 {
    width: 100%;
    height: auto;
    font-size: 20px;
    font-weight: 500;
    /* background-color: tomato; */
    padding-bottom: 30px;
    float: left;
    position: relative;
  }

  .sec2_txt2 {
    width: 100%;
    height: auto;
    float: left;
    font-size: 14px;
    color: #595959;
    position: relative;
    /* background-color: teal; */
  }

  .sec2_viewmore {
    width: 110px;
    height: 25px;
    float: left;
    border: 1px solid #dd152b;
    border-radius: 25px;
    margin-top: 30px;
    line-height: 25px;
    text-align: center;
    color: #797979;
    cursor: pointer;
    position: relative;
    font-size: 12px;
  }

  .sec2_viewmore:hover {
    background-color: #dd152b;
    color: #fff;
  }

  /* section3 */
  #section3 {
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    /* background-color: lightgray; */
    padding-top: 50px;
    padding-bottom: 90px;
  }

  #section3 > .container_w {
    width: 100%;
    /* width: 55%; */
    height: auto;
    position: relative;
    overflow: hidden;
    /* background-color: thistle; */
  }

  .sec3_back {
    width: auto;
    height: auto;
    /* background-color: tomato; */
    font-size: 250px;
    /* font-size: 450px; */
    position: absolute;
    top: 0;
    right: 0;
    font-family: "Caveat", cursive;
    font-weight: 400;
    opacity: 0.05;
    letter-spacing: -20px;
    display: none;
  }

  .sec3_img_box {
    display: none;
  }

  .sec3_title {
    width: auto;
    height: auto;
    font-size: 22px;
    font-weight: 600;
    position: relative;
    padding-left: 10%;
    /* background-color: lightgoldenrodyellow; */
    font-family: "Nunito", sans-serif;
    padding-bottom: 50px;
  }

  .sec3_wrap {
    /* width: 100%;
    height: 500px; */
    position: relative;
    /* background-color: lightsteelblue; */
  }

  .sec3_con {
    /* width: 310px;
    height: auto; */
    float: left;
    position: relative;
    /* background-color: salmon; */
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .sec3_con_img {
    /* width: 310px;
    height: 320px; */
    /* background-color: mediumaquamarine; */
    position: relative;
  }

  .sec3_con_img > img {
    /* width: 100%;
    height: 100%; */
    width: 80%;
    height: 80%;
    margin: 0 auto;
  }

  .sec3_name {
    width: 90%;
    height: auto;
    /* background-color: lightpink; */
    text-align: center;
    font-size: 14px;
    padding-top: 30px;
    padding-bottom: 15px;
    display: block;
  }

  .sec3_txt {
    width: 90%;
    height: auto;
    /* background-color: lightskyblue; */
    text-align: center;
    font-size: 12px;
    color: #797979;
    display: block;
    margin: 0 auto;
  }

  /* section4 start*/
  #section4 {
    display: none;
  }

  #mo_section4,
  #mo_section4 > .container_w {
    height: 0;
    padding-bottom: 110%;
    position: relative;
    /* background-color: aquamarine; */
  }

  .mo_sec4_con_wrap {
    width: 100%;
    height: 0;
    padding-bottom: 33.33%;
    /* background-color: #dd152b; */
    position: relative;
  }

  .mo_sec4_img {
    width: 50%;
    height: 100%;
    /* background-color: thistle; */
    position: absolute;
    top: 0;
    float: left;
  }

  .mo_sec4_img1,
  .mo_sec4_img3 {
    left: 0;
  }

  .mo_sec4_img2 {
    right: 0;
  }

  .mo_sec4_img img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .mo_sec4_txt_box {
    width: 50%;
    height: 100%;
    /* background-color: lightsteelblue; */
    position: absolute;
    text-align: center;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .mo_sec4_txt_box1,
  .mo_sec4_txt_box3 {
    float: right;
    right: 0;
  }

  .mo_sec4_txt_box2 {
    float: left;
    left: 0;
  }

  .mo_sec4_title {
    width: 100%;
    /* background-color: teal; */
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    font-weight: 600;
    float: left;
    padding-top: 10px;
  }

  .mo_sec4_txt {
    width: 100%;
    height: auto;
    /* background-color: tomato; */
    padding: 15px;
    box-sizing: border-box;
    font-size: 12px;
    float: left;
    color: #797979;
  }

  .mo_sec4_click {
    width: 100px;
    height: 30px;
    border: 1px solid #dd152b;
    margin-top: 20px;
    border-radius: 10px;
    line-height: 30px;
    font-size: 16px;
    color: #797979;
    display: none;
  }

  /* section5 start */
  #section5 {
    width: 100%;
    height: 400px;
    background-image: url(../img/section5_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 50px;
  }

  .sec5_con {
    width: 100%;
    height: auto;
    text-align: center;
    color: #fff;
    position: relative;
  }

  .sec5_txt1 {
    font-size: 24px;
    /* font-size: 30px; */
  }

  .sec5_txt2 {
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 30px;
    font-weight: 300;
  }

  .search_in {
    width: 100%;
    height: auto;
    position: relative;
  }

  .search_input {
    width: 60%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.4);
    position: relative;
    border-radius: 25px;
    font-size: 12px;
    outline: none;
    border: none;
    color: #fff;
    padding-left: 12px;
  }

  .search_input::placeholder {
    color: #fff;
  }

  .search_btn {
    width: 20px;
    height: 20px;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    outline: none;
    border: none;
    position: absolute;
    top: 5px;
    right: 22%;
  }

  /* footer */
  footer {
    background-color: #b8b8b8;
    height: 230px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
  }

  .top_footer {
    display: none;
  }

  .mo_top_footer {
    width: 80%;
    height: auto;
    /* background-color: thistle; */
  }

  .mo_top_footer1 {
    padding-top: 30px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }

  .mo_top_footer2 {
    width: 60%;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }

  .mo_top_footer a {
    color: #fff;
  }

  .bottom_footer {
    width: auto;
    height: auto;
  }

  .tab_hidden_wrap {
    width: 0;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    overflow: hidden;
  }

  .tab_hidden_container {
    width: 90%;
    height: 100%;
    /* background-color: pink; */
    margin: 0 auto;
    position: relative;
  }

  .tab_top_menu_wrap {
    width: 100%;
    height: 20px;
    /* background-color: teal; */
    position: relative;
  }

  .tab_top_menu {
    width: 60%;
    height: 100%;
    /* background-color: tomato; */
    position: absolute;
    right: 0;
    margin-top: 80px;
    display: flex;
    align-content: flex-start;
    font-size: 15px;
  }

  .tab_top_menu > li {
    width: 33.33%;
    float: left;
  }

  .tab_top_menu > li a {
    color: #797979;
  }

  .tab_hidden_top {
    width: 100%;
    height: auto;
    /* background-color: teal; */
    position: relative;
    padding-top: 150px;
  }

  .hidden_logo {
    width: 250px;
    height: auto;
    float: left;
    position: relative;
    margin-right: 10px;
    display: none;
  }

  .hidden_logo img {
    width: 100%;
    height: auto;
  }

  .lan {
    display: none;
  }

  .mo_lan {
    width: 14%;
    height: 30px;
    border: 1px solid #dd152b;
    border-radius: 10px;
    float: right;
    font-size: 14px;
    text-align: center;
    color: #dd152b;
    position: absolute;
    right: 5%;
    z-index: 99;
    line-height: 30px;
  }

  .mo_lan ul {
    width: 100%;
    height: 0;
    position: relative;
    margin-top: 2px;
    line-height: 35px;
    overflow: hidden;
    transition-duration: 0.2s;
  }

  .mo_lan li {
    width: 100%;
    height: 30px;
    position: relative;
  }

  .tab_hidden_ul {
    width: 100%;
    height: auto;
    /* background-color: paleturquoise; */
    /* margin-top: 100px; */
    position: relative;
  }

  .tab_hidden_ul > li {
    width: 100%;
    height: auto;
    font-size: 26px;
    color: #494949;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    padding-bottom: 60px;
  }

  .tab_hidden_ul a {
    opacity: 0.4;
    transition: opacity 0.2s ease;
  }

  .tab_hidden_ul a:hover {
    opacity: 1;
    color: #dd152b;
  }

  @keyframes Move {
    0% {
      opacity: 0;
      transform: translateX(-25%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .tab_hidden_wrap.visible {
    width: 100%;
    /* width: 50%; */
    display: block;
  }

  .tab_hidden_wrap.visible .tab_hidden_ul li {
    animation: Move 0.3s ease forwards;
  }

  .tab_hidden_wrap.visible .tab_hidden_ul > li:nth-child(2) {
    animation-delay: 0.05s;
  }

  .tab_hidden_wrap.visible .tab_hidden_ul > li:nth-child(3) {
    animation-delay: 0.053s;
  }

  .tab_hidden_wrap.visible .tab_hidden_ul > li:nth-child(4) {
    animation-delay: 0.056s;
  }

  .hidden_sub_menu {
    width: 100%;
    /* background-color: yellowgreen; */
    position: relative;
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    display: none;
  }

  .hidden_sub_menu li {
    width: 100%;
    height: auto;
    line-height: 35px;
    /* background-color: palevioletred; */
    position: relative;
    color: #797979;
  }

  .hidden_sub_menu.hidden_sub_on {
    display: block;
    position: relative;
  }
}
/* end */
