@media all and (min-width: 1200px) {
  /* 공통영역 */
  body {
    color: #494949;
    font-family: "Noto Sans KR", sans-serif;
  }

  #wrap {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  section {
    width: 100%;
    height: 100vh;
    position: relative;
  }

  header,
  footer {
    width: 100%;
    position: relative;
  }

  .in_header,
  .in_footer {
    width: 75%;
    height: auto;
    margin: 0 auto;
  }

  .container {
    width: 75%;
    margin: 0 auto;
  }

  .container_w {
    width: 100%;
  }

  .container,
  .container_w {
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  /* 공통영역 end */

  .tab_hidden_wrap {
    display: none;
  }

  .top {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 999;
    right: 50px;
    bottom: 50px;
    line-height: 48px;
    text-align: center;
    color: #fff;
    transition-duration: 1s;
    cursor: pointer;
    display: none;
  }

  /* header start */
  header {
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #fff;
  }

  .top_header_wrap {
    width: 75%;
    height: 25px;
    position: relative;
    margin: 0 auto;
    margin-top: 15px;
  }

  .top_header {
    width: 20%;
    height: 100%;
    position: relative;
    float: right;
    display: flex;
    justify-content: space-between;
  }

  .top_header > li {
    float: left;
    opacity: 0.7;
  }

  .in_header {
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
  }

  .logo {
    width: 300px;
    height: auto;
    float: left;
  }

  .logo img {
    width: 100%;
    height: auto;
  }

  .menu_wrap {
    width: 45%;
    height: 85px;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-between;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-size: 20px;
    transition-duration: 0.5s;
    line-height: 85px;
  }

  .menu_wrap > li {
    text-align: center;
    width: 25%;
    height: 85px;
    position: relative;
  }

  .menu_wrap > li::after {
    content: "";
    width: 0;
    height: 1.5px;
    background-color: #dd152b;
    display: block;
    position: absolute;
    bottom: 25px;
    transition-duration: 0.2s;
  }

  .menu_wrap > li:hover::after {
    width: 100%;
  }

  .menu_wrap:hover .hidden_menu_ul {
    height: 250px;
  }

  /* hidden_menu start */
  .hidden_menu_ul {
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
    font-size: 20px;
    color: #797979;
    position: absolute;
    z-index: 99;
    transition-duration: 0.1s;
  }

  .hidden_menu_ul li {
    float: left;
    width: 100%;
    height: 50px;
    line-height: 80px;
    position: relative;
  }

  .hidden_menu_ul > li:hover {
    color: #dd152b;
  }

  /* section1 start */
  #section1 {
    height: 800px;
  }

  .sec1_wrap {
    width: 100%;
    height: 100%;
    background-color: thistle;
  }

  .sec1_img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }

  .sec1_img1 {
    width: 100%;
    height: 100%;
    background-image: url(../img/banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
  }

  .sec1_img2 {
    width: 100%;
    height: 100%;
    background-image: url(../img/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .sec1_img3 {
    width: 100%;
    height: 100%;
    background-image: url(../img/banner3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .click_btn_wrap {
    width: 180px;
    height: 5px;
    position: absolute;
    bottom: 100px;
    left: 50%;
    margin-left: -75px;
    display: flex;
    justify-content: space-between;
  }

  .click_btn {
    width: 50px;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
  }

  .on {
    background-color: #fff;
    opacity: 0.8;
  }

  .sec1_img img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }

  /* section2 start */
  .sec2_back {
    width: auto;
    height: auto;
    font-size: 450px;
    position: absolute;
    top: -50px;
    right: 100px;
    font-family: "Caveat", cursive;
    font-weight: 400;
    opacity: 0.05;
    letter-spacing: -30px;
  }

  .sec2_img_box {
    width: 680px;
    height: 822px;
    position: relative;
    margin-top: 50px;
    margin-left: 30px;
  }

  .sec2_img_back {
    width: 615px;
    height: 766px;
    background-color: #e2e2e2;
    position: absolute;
    top: 0;
    left: 0;
  }

  .sec2_img {
    width: 615px;
    height: 766px;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .sec2_img img {
    width: 100%;
    height: 100%;
  }

  .sec2_txt {
    width: 520px;
    height: auto;
    position: absolute;
    bottom: 100px;
    right: 30px;
  }

  .sec2_txt1 {
    width: 100%;
    height: auto;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 30px;
    float: left;
  }

  .sec2_txt2 {
    width: 100%;
    height: auto;
    float: left;
    font-size: 20px;
    color: #797979;
  }

  .sec2_viewmore {
    width: 150px;
    height: 40px;
    float: left;
    border: 1px solid #dd152b;
    border-radius: 25px;
    position: relative;
    margin-top: 30px;
    line-height: 40px;
    text-align: center;
    color: #797979;
    cursor: pointer;
  }

  .sec2_viewmore:hover {
    background-color: #dd152b;
    color: #fff;
  }

  /* section3 */
  #section3 {
    display: flex;
    align-items: center;
  }

  #section3 > .container_w {
    width: 55%;
    height: auto;
    position: absolute;
    right: 0;
    padding-top: 50px;
  }

  .sec3_back {
    width: auto;
    height: auto;
    font-size: 450px;
    position: absolute;
    top: -50px;
    right: 100px;
    font-family: "Caveat", cursive;
    font-weight: 400;
    opacity: 0.05;
    letter-spacing: -30px;
  }

  .sec3_img_box {
    width: 33%;
    padding-bottom: 33%;
    float: left;
    position: relative;
  }

  .sec3_img_box > img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .sec3_img_box > img:nth-child(2) {
    display: none;
  }

  .sec3_title {
    width: auto;
    height: auto;
    font-size: 34px;
    font-weight: 600;
    position: relative;
    padding-left: 10%;
    font-family: "Nunito", sans-serif;
    padding-bottom: 30px;
  }

  .sec3_wrap {
    position: relative;
  }

  .sec3_con {
    float: left;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .sec3_con_img {
    width: 310px;
    height: 320px;
    position: relative;
  }

  .sec3_con_img > img {
    width: 100%;
    height: 100%;
    transition-duration: 0.2s;
  }

  .sec3_con:hover .sec3_con_img img {
    transform: scale(1.12);
  }

  .sec3_name {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 15px;
    display: block;
  }

  .sec3_txt {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 18px;
    color: #797979;
    display: block;
  }

  /* section4 start*/
  #mo_section4 {
    display: none;
  }

  .sec4_con_wrap {
    width: 33.3%;
    height: 100vh;
    background-color: #fff;
    float: left;
    display: flex;
    align-items: center;
  }

  .sec4_con_wrap:nth-child(2) {
    background-color: #ededed;
  }

  .sec4_con {
    width: 100%;
    height: auto;
    position: relative;
    float: left;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .sec4_top_txt {
    width: 100%;
    height: auto;
    font-size: 20px;
  }

  .sec4_title {
    width: 100%;
    height: auto;
    font-size: 30px;
    font-weight: 600;
    font-family: "Nunito", sans-serif;
    padding-top: 15px;
  }

  .sec4_img {
    width: 309px;
    height: 309px;
    position: relative;
    border-radius: 50%;
    margin: 30px 0;
    overflow: hidden;
  }

  .sec4_img > img {
    width: 100%;
    height: 100%;
    transition-duration: 0.3s;
  }

  .sec4_img::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }

  .sec4_img:hover::after {
    display: block;
  }

  .sec4_txt {
    width: 100%;
    height: auto;
    line-height: 25px;
    font-size: 18px;
  }

  .sec4_click {
    width: 140px;
    height: 40px;
    border: 1px solid #dd152b;
    border-radius: 25px;
    margin-top: 30px;
    line-height: 40px;
    cursor: pointer;
  }

  .sec4_click:hover {
    background-color: #dd152b;
    color: #fff;
  }

  /* section5 start */
  #section5 {
    width: 100%;
    height: 700px;
    background-image: url(../img/section5_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .sec5_con {
    width: 100%;
    height: auto;
    text-align: center;
    color: #fff;
    position: relative;
  }

  .sec5_txt1 {
    font-size: 30px;
  }

  .sec5_txt2 {
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 30px;
    font-weight: 300;
  }

  .search_in {
    width: 100%;
    height: auto;
    position: relative;
  }

  .search_input {
    width: 50%;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.4);
    position: relative;
    border-radius: 25px;
    font-size: 18px;
    outline: none;
    border: none;
    color: #fff;
    padding-left: 15px;
  }

  .search_input::placeholder {
    color: #fff;
  }

  .search_btn {
    width: 25px;
    height: 25px;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    outline: none;
    border: none;
    position: absolute;
    top: 10px;
    right: 26%;
  }

  /* footer */
  footer {
    background-color: #b8b8b8;
    height: 220px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
  }

  .mo_top_footer {
    display: none;
  }

  .top_footer {
    width: 70%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .top_footer > li {
    float: left;
  }

  .top_footer a {
    color: #fff;
  }

  .bottom_footer {
    width: auto;
    height: auto;
  }
}
/* end */
