body{
    max-width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.label {
    color: #dc143c;
    font-size: 115px;
    font-weight: 900;
    font-family: "Ubuntu", sans-serif;
}

.container {
    width: 785px;
    height: 530px;
    border: 1px solid #dedede;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap input,
.wrap button {
    all: unset;
}

.login_form {
    padding: 20px 40px;
}

.login_form .font {
    font-size: 18px;
    color: #130f40;
    margin: 5px 0;
}

.login_form input {
    width: 490px;
    height: 70px;
    margin: 0 auto;
    border-bottom: 1px solid #707070;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
}

.login_form .font2 {
    margin-top: 30px;
}

.login_form button {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    font-weight: 500;
    color: #fff;
    background-color: #dc143c;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

.login_form button:hover {
    background-color: black;
}

.login_form #email_error,
.login_form #pass_error {
    margin-top: 5px;
    width: 345px;
    font-size: 18px;
    color: #c62828;
    display: none;
}

.ran_musician{
    display: none;
}

/* web css end */

@media screen and (max-width: 500px) {

    .wrap .label{
        font-size: 50px;
        margin-top: 20px;
    }

    .container {
        width: 120%;
        height: unset;
        border: unset;
        display: block;
        margin-top: 30px;
    }

    .ran_musician{
        display: block;
        width: 280px;
        height: 280px;
        border-radius: 50%;
        overflow: hidden;
        transition: 1s;
    }

    .ran_musician:hover{
        transform: rotateY(360deg);
    }

    .ran_musician img{
        width: 100%;
    }

    .login_form{
        padding: unset;
    }

    .login_form input {
        width: 100%;
        height: 60px;
        border-radius: 20px;
        border: 0.5px solid #ebebeb;
    }

    .login_form .font2 {
        margin-top: 0;
    }


}
